
_site/about.html
.DS_Store
_site/404.html
_site/about/index.html
_site/archive-layout-with-content/index.html
_site/assets/css/academicons.css
_site/assets/css/academicons.min.css
_site/assets/css/collapse.css
_site/assets/css/main.css
_site/assets/css/style.css
_site/assets/fonts/academicons.eot
_site/assets/fonts/academicons.svg
_site/assets/fonts/academicons.ttf
_site/assets/fonts/academicons.woff
_site/assets/fonts/fa-brands-400.eot
_site/assets/fonts/fa-brands-400.svg
_site/assets/fonts/fa-brands-400.ttf
_site/assets/fonts/fa-brands-400.woff
_site/assets/fonts/fa-brands-400.woff2
_site/assets/fonts/fa-regular-400.eot
_site/assets/fonts/fa-regular-400.svg
_site/assets/fonts/fa-regular-400.ttf
_site/assets/fonts/fa-regular-400.woff
_site/assets/fonts/fa-regular-400.woff2
_site/assets/fonts/fa-solid-900.eot
_site/assets/fonts/fa-solid-900.svg
_site/assets/fonts/fa-solid-900.ttf
_site/assets/fonts/fa-solid-900.woff
_site/assets/fonts/fa-solid-900.woff2
_site/assets/js/collapse.js
_site/assets/js/main.min.js
_site/categories/index.html
_site/collection-archive/index.html
_site/CONTRIBUTING.md
_site/cv/index.html
_site/feed.xml
_site/files/paper1.pdf
_site/files/paper2.pdf
_site/files/paper3.pdf
_site/images/3953273590_704e3899d5_m.jpg
_site/images/500x300.png
_site/images/bio-photo-2.jpg
_site/images/bio-photo.jpg
_site/images/browserconfig.xml
_site/images/editing-talk.png
_site/images/foo-bar-identity-th.jpg
_site/images/foo-bar-identity.jpg
_site/images/image-alignment-1200x4002.jpg
_site/images/image-alignment-150x150.jpg
_site/images/image-alignment-300x200.jpg
_site/images/image-alignment-580x300.jpg
_site/images/manifest.json
_site/images/mstile-144x144.png
_site/images/mstile-150x150.png
_site/images/mstile-310x150.png
_site/images/mstile-310x310.png
_site/images/mstile-70x70.png
_site/images/paragraph-indent.png
_site/images/paragraph-no-indent.png
_site/images/profile.png
_site/images/safari-pinned-tab.svg
_site/images/site-logo.png
_site/index.html
_site/markdown.html
_site/markdown/index.html
_site/markdown_generator/index.html
_site/markdown_generator/publications.ipynb
_site/markdown_generator/publications.py
_site/markdown_generator/publications.tsv
_site/markdown_generator/PubsFromBib.ipynb
_site/markdown_generator/pubsFromBib.py
_site/markdown_generator/readme.md
_site/markdown_generator/talks.ipynb
_site/markdown_generator/talks.py
_site/markdown_generator/talks.tsv
_site/md/index.html
_site/nmp.html
_site/nmp/index.html
_site/non-menu-page/index.html
_site/page-archive/index.html
_site/portfolio/index.html
_site/portfolio/portfolio-1/index.html
_site/portfolio/portfolio-2/index.html
_site/posts/2012/08/blog-post-1/index.html
_site/posts/2012/08/blog-post-4/index.html
_site/posts/2013/08/blog-post-2/index.html
_site/posts/2014/08/blog-post-3/index.html
_site/publication/2009-10-01-paper-title-number-1.html
_site/publication/2010-10-01-paper-title-number-2.html
_site/publication/2015-10-01-paper-title-number-3.html
_site/publications/index.html
_site/publications/journal.md
_site/redirects.json
_site/resume.html
_site/robots.txt
_site/sitemap.xml
_site/sitemap/index.html
_site/tags/index.html
_site/talkmap.html
_site/talkmap.ipynb
_site/talkmap.py
_site/talkmap/leaflet_dist/leaflet.markercluster-src.js
_site/talkmap/leaflet_dist/leaflet.markercluster.js
_site/talkmap/leaflet_dist/MarkerCluster.css
_site/talkmap/leaflet_dist/MarkerCluster.Default.css
_site/talkmap/leaflet_dist/screen.css
_site/talkmap/map.html
_site/talkmap/org-locations.js
_site/talks/2012-03-01-talk-1.html
_site/talks/2013-03-01-tutorial-1.html
_site/talks/2014-02-01-talk-2.html
_site/talks/2014-03-01-talk-3.html
_site/talks/index.html
_site/teaching/2014-spring-teaching-1.html
_site/teaching/2015-spring-teaching-1.html
_site/teaching/index.html
_site/terms/index.html
_site/wordpress/blog-posts/index.html
_site/year-archive/index.html
Gemfile.lock
